//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
};

/ {
    combos {
        compatible = "zmk,combos";

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 7>;
        };

        Escape {
            bindings = <&kp ESC>;
            key-positions = <1 0>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <7 6>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <2 1>;
        };

        combo_backspace_2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        double_quote_combo {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <17 7>;
        };

        single_quote_combo {
            bindings = <&kp SQT>;
            key-positions = <6 16>;
        };
    };

    behaviors {
        hrml: hrml {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        hrmr: hrmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        scrl_up: scrl_up {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_UP";
            bindings = <&msc SCRL_UP>, <&kp PG_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_down: scrl_down {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_DOWN";
            bindings = <&msc SCRL_DOWN>, <&kp PG_DN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_left: scrl_left {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_LEFT";
            bindings = <&msc SCRL_LEFT>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_right: scrl_right {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_RIGHT";
            bindings = <&msc SCRL_RIGHT>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        bold_macro: bold_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp STAR &kp STAR &kp LEFT>;
            label = "BOLD_MACRO";
        };

        double_quote_macro: double_quote_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &kp LEFT>;
            label = "DOUBLE_QUOTE_MACRO";
        };

        single_quote_macro: single_quote_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
            label = "SINGLE_QUOTE_MACRO";
        };

        tilde_macro: grave_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp LEFT>;
            label = "GRAVE_MACRO";
        };

        parens_macro: parens_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "PARENS_MACRO";
        };

        bracket_macro: bracket_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
            label = "BRACKET_MACRO";
        };

        brace_macro: brace_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
            label = "BRACE_MACRO";
        };

        tag_macro: tag_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp GT &kp LEFT>;
            label = "TAG_MACRO";
        };

        css_comment_macro: css_comment_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp STAR &kp SPACE &kp SPACE &kp STAR &kp FSLH &kp LEFT &kp LEFT &kp LEFT>;
            label = "CSS_COMMENT_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
               &kp Q          &kp W             &kp F          &kp P               &kp B          &kp J        &kp L                &kp U              &kp Y              &kp SEMI
               &hrml LCTRL A  &hrml LEFT_ALT R  &hrml LMETA S  &hrml LEFT_SHIFT T  &hrml F13 G    &hrmr F13 M  &hrmr RIGHT_SHIFT N  &hrmr LEFT_META E  &hrmr RIGHT_ALT I  &hrmr RCTRL O
&hrml F14 TAB  &kp Z          &kp X             &kp C          &kp D               &kp V          &kp K        &kp H                &kp COMMA          &kp DOT            &kp QUESTION   &hrmr F14 APOSTROPHE
                                                &mo 3          &mo 1               &none          &kp SPACE    &mo 2                &mo 4
            >;
        };

        symbol1 {
            bindings = <
                 &tag_macro               &brace_macro            &bracket_macro       &parens_macro        &css_comment_macro    &single_quote_macro  &double_quote_macro     &bold_macro               &none                  &tilde_macro
                 &hrml LCTRL EXCLAMATION  &hrml LEFT_ALT AT_SIGN  &hrml LEFT_GUI HASH  &hrml LSHIFT DOLLAR  &hrml F13 PERCENT     &hrmr F13 CARET      &hrmr RSHIFT AMPERSAND  &hrmr RIGHT_GUI ASTERISK  &hrmr RIGHT_ALT MINUS  &hrmr RCTRL EQUAL
&hrml F14 GRAVE  &kp LT                   &kp LEFT_BRACE          &kp LEFT_BRACKET     &kp LPAR             &kp BSLH              &kp SLASH            &kp RIGHT_PARENTHESIS   &kp RIGHT_BRACKET         &kp RIGHT_BRACE        &kp GREATER_THAN   &hrmr F14 BACKSLASH
                                                                  &none                &trans               &none                 &none                &trans                  &none
            >;
        };

        symbol2 {
            bindings = <
                 &tag_macro               &brace_macro            &bracket_macro       &parens_macro        &css_comment_macro    &single_quote_macro  &double_quote_macro     &bold_macro               &none                  &tilde_macro
                 &hrml LCTRL EXCLAMATION  &hrml LEFT_ALT AT_SIGN  &hrml LEFT_GUI HASH  &hrml LSHIFT DOLLAR  &hrml F13 PERCENT     &hrmr F13 CARET      &hrmr RSHIFT AMPERSAND  &hrmr RIGHT_GUI ASTERISK  &hrmr RIGHT_ALT MINUS  &hrmr RCTRL EQUAL
&hrml F14 GRAVE  &kp LT                   &kp LEFT_BRACE          &kp LEFT_BRACKET     &kp LPAR             &kp BSLH              &kp SLASH            &kp RIGHT_PARENTHESIS   &kp RIGHT_BRACKET         &kp RIGHT_BRACE        &kp GREATER_THAN   &hrmr F14 BACKSLASH
                                                                  &none                &trans               &none                 &none                &trans                  &none
            >;
        };

        numpad {
            bindings = <
                 &kp F1            &kp F2                &kp F3                   &kp F4                  &kp F5             &kp PERCENT  &kp N7  &kp N8  &kp N9  &kp DOLLAR
                 &hrml LCTRL PLUS  &hrml LEFT_ALT MINUS  &hrml LEFT_GUI ASTERISK  &hrml LEFT_SHIFT SLASH  &hrml F13 EQUAL    &kp N0       &kp N4  &kp N5  &kp N6  &kp F11
&hrml F14 CARET  &kp F6            &kp F7                &kp F8                   &kp F9                  &kp F10            &kp DOT      &kp N1  &kp N2  &kp N3  &kp F12     &none
                                                         &trans                   &none                   &none              &none        &none   &trans
            >;
        };

        nav {
            bindings = <
         &mkp MB4          &mkp MB3      &mkp MB2      &mkp MB1        &mkp MB5    &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
         &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_SHIFT  &kp F13     &none  &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT
&kp F14  &none             &none         &none         &none           &none       &none  &scrl_left      &scrl_down      &scrl_up      &scrl_right      &none
                                         &trans        &none           &none       &none  &none           &trans
            >;
        };

        aptmak {
            bindings = <
               &kp Q          &kp W             &kp F             &kp P           &kp B          &kp J             &kp L           &kp U              &kp Y              &kp SEMI
               &hrml LCTRL H  &hrml LEFT_ALT R  &hrml LEFT_GUI S  &hrml LSHIFT T  &hrml F13 G    &hrmr F13 PERIOD  &hrmr RSHIFT N  &hrmr RIGHT_GUI A  &hrmr RIGHT_ALT I  &hrmr RCTRL O
&hrml F14 TAB  &kp Z          &kp X             &kp C             &kp D           &kp V          &kp K             &kp M           &kp COMMA          &kp SQT            &kp QUESTION   &hrmr F14 ENTER
                                                &mo 3             &mo 1           &kp E          &kp SPACE         &mo 2           &mo 4
            >;
        };

        utilities {
            bindings = <
           &none  &none  &none   &to 5  &none    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
           &none  &none  &none   &to 0  &none    &bt BT_CLR     &bt BT_PRV     &bt BT_NXT     &none          &none
&soft_off  &none  &none  &none   &none  &none    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &bt BT_CLR_ALL
                         &trans  &none  &none    &none          &none          &trans
            >;
        };

        function {
            bindings = <
              &none           &none              &none              &none            &none           &none         &none                     &none               &none                &none
              &hrml LCTRL F2  &hrml LEFT_ALT F3  &hrml LEFT_GUI F4  &hrml LSHIFT F5  &hrml F13 F6    &hrmr F13 F7  &hrmr LC(RIGHT_SHIFT) F8  &hrmr RIGHT_GUI F9  &hrmr RIGHT_ALT F10  &hrmr RCTRL F11
&hrml F14 F1  &none           &none              &none              &none            &none           &none         &none                     &none               &none                &none            &hrmr F14 F12
                                                 &none              &trans           &none           &none         &trans                    &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        utilities_cond {
            if-layers = <4 3>;
            then-layer = <6>;
        };

        function_cond {
            if-layers = <1 2>;
            then-layer = <7>;
        };
    };
};
