//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        soft_off {
            bindings = <&soft_off>;
            key-positions = <0 20 9 31 33 36>;
        };

        bt0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <5 20 33>;
        };

        bt1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <20 33 6>;
        };

        bt2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <20 7 33>;
        };

        bt3 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <8 20 33>;
        };

        bt4 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <20 33 9>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <20 4 33 36 5 31>;
        };

        reset {
            bindings = <&sys_reset>;
            key-positions = <20 25 33 26 36 31>;
        };

        btd0 {
            bindings = <&bt BT_DISC 0>;
            key-positions = <26 20 33>;
        };

        btd1 {
            bindings = <&bt BT_DISC 1>;
            key-positions = <20 33 27>;
        };

        btd2 {
            bindings = <&bt BT_DISC 2>;
            key-positions = <20 33 28>;
        };

        btd3 {
            bindings = <&bt BT_DISC 3>;
            key-positions = <29 20 33>;
        };

        btd4 {
            bindings = <&bt BT_DISC 4>;
            key-positions = <20 33 30>;
        };

        btclr {
            bindings = <&bt BT_CLR>;
            key-positions = <20 33 15>;
        };

        colemak {
            bindings = <&to 0>;
            key-positions = <36 13 30>;
        };

        aptmak {
            bindings = <&to 4>;
            key-positions = <36 12 30>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 17 18>;
        };

        Escape {
            bindings = <&kp ESC>;
            key-positions = <1 2 3>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <6 7 8>;
        };
    };

    behaviors {
        hrml: hrml {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 37>;
        };

        hrmr: hrmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 34>;
        };

        scrl_up: scrl_up {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_UP";
            bindings = <&msc SCRL_UP>, <&kp PG_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_down: scrl_down {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_DOWN";
            bindings = <&msc SCRL_DOWN>, <&kp PG_DN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_left: scrl_left {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_LEFT";
            bindings = <&msc SCRL_LEFT>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        scrl_right: scrl_right {
            compatible = "zmk,behavior-mod-morph";
            label = "SCRL_RIGHT";
            bindings = <&msc SCRL_RIGHT>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
                &kp Q          &kp W             &kp F          &kp P               &kp B          &kp J        &kp L                &kp U              &kp Y              &kp SEMI
                &hrml LCTRL A  &hrml LEFT_ALT R  &hrml LMETA S  &hrml LEFT_SHIFT T  &hrml F13 G    &hrmr F13 M  &hrmr RIGHT_SHIFT N  &hrmr LEFT_META E  &hrmr RIGHT_ALT I  &hrmr RCTRL O
&hrml CAPS TAB  &kp Z          &kp X             &kp C          &kp D               &kp V          &kp K        &kp H                &kp COMMA          &kp DOT            &kp QUESTION   &hrmr CAPS APOSTROPHE
                                                 &mo 3          &mo 1               &none          &kp SPACE    &mo 1                &mo 2
            >;
        };

        symbol {
            bindings = <
                  &kp KP_NUMBER_1          &kp KP_NUMBER_2         &kp KP_NUMBER_3      &kp KP_NUMBER_4          &kp KP_NUMBER_5      &kp KP_NUMBER_6  &kp KP_NUMBER_7              &kp KP_NUMBER_8           &kp KP_NUMBER_9        &kp KP_NUMBER_0
                  &hrml LCTRL EXCLAMATION  &hrml LEFT_ALT AT_SIGN  &hrml LEFT_GUI HASH  &hrml LEFT_SHIFT DOLLAR  &hrml F13 PERCENT    &hrmr F13 CARET  &hrmr RIGHT_SHIFT AMPERSAND  &hrmr RIGHT_GUI ASTERISK  &hrmr RIGHT_ALT MINUS  &hrmr RCTRL EQUAL
&hrml CAPS GRAVE  &kp LT                   &kp LEFT_BRACE          &kp LEFT_BRACKET     &kp LPAR                 &kp BSLH             &kp SLASH        &kp RIGHT_PARENTHESIS        &kp RIGHT_BRACKET         &kp RIGHT_BRACE        &kp GREATER_THAN   &hrmr CAPS BACKSLASH
                                                                   &trans               &none                    &none                &trans           &trans                       &trans
            >;
        };

        nav {
            bindings = <
          &mkp MB4          &mkp MB3      &mkp MB2      &mkp MB1        &mkp MB5    &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
          &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_SHIFT  &kp F13     &none  &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT
&kp CAPS  &none             &none         &none         &none           &none       &none  &scrl_left      &scrl_down      &scrl_up      &scrl_right      &none
                                          &none         &trans          &none       &none  &trans          &none
            >;
        };

        numpad {
            bindings = <
           &kp F1    &kp F2     &kp F3        &kp F4     &kp F5       &kp PERCENT  &kp N7  &kp N8  &kp N9  &kp DOLLAR
           &kp PLUS  &kp MINUS  &kp ASTERISK  &kp SLASH  &kp EQUAL    &kp N0       &kp N4  &kp N5  &kp N6  &kp F11
&kp CARET  &kp F6    &kp F7     &kp F8        &kp F9     &kp F10      &kp DOT      &kp N1  &kp N2  &kp N3  &kp F12     &none
                                &trans        &none      &none        &none        &none   &none
            >;
        };

        aptmak {
            bindings = <
         &kp Q  &kp W  &kp F  &kp P  &kp B    &kp J       &kp L  &kp U      &kp Y    &kp SEMI
         &kp H  &kp R  &kp S  &kp T  &kp G    &kp PERIOD  &kp N  &kp A      &kp I    &kp O
&kp TAB  &kp Z  &kp X  &kp C  &kp D  &kp V    &kp K       &kp M  &kp COMMA  &kp SQT  &kp QUESTION  &kp ENTER
                       &mo 3  &mo 2  &kp E    &kp SPACE   &mo 1  &kp ENTER
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        navfn_cond {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
